
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="" id="sidebar">
                <div class="list-group panel">
                    <a href="./dashboard" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Home</span> </a>
                    <a href="./my-companies" class="list-group-item collapsed" data-parent="#sidebar"><span class="hidden-sm-down">My Companies</span></a>
                    <a href="./career" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Careers</span> </a>
                    <a href="./company-all" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">All Company</span> </a>
                    <a href="./company" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">Company</span> </a>
                </div>
            </div>

        </div>
    </div>
    <main class="">
        <div class="container-fluid">
            <div class="row">
                <div class="page-header">
                    <h1><class ="max.auto">CAREER BY FIELDS</h1></class>

                    <div class="row">
                        <div class="col-3">
                            <img src="./asset/plane.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/balance.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/bones.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/dollar.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img src="./asset/first-aid-kit.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/flask.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/wrench.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                        <div class="col-3">
                            <img src="./asset/hand-shake.png" class="w-75 p-3" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
    </main>
    </div>
    </div>




</body>
