

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="" id="sidebar">
                <div class="list-group panel">
                    <a href="./dashboard" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Home</span> </a>
                    <a href="./my-companies" class="list-group-item collapsed" data-parent="#sidebar"><span class="hidden-sm-down">My Companies</span></a>
                    <a href="./career" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Careers</span> </a>
                    <a href="./company-all" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">All Company</span> </a>
                    <a href="./company" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">Company</span> </a>
                </div>
            </div>

        </div>
    </div>
    <main class="company">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <img src="./asset/adobe.png" style="width:100%; padding-right: 35px;">
                </div>
                <div class="col-8">
                    <div class="page-header">
                        <h1>ADOBE SYSTEMS</h1>
                        <small class="lead">Adobe Systems Incorporated is an American multinational computer software company. They perform innovative advancements in photo editing technology, graphic design technology, and many more world changing projects to enlighten our world with graphics and design. The company is headquartered in San Jose, California, United States.
                            </small>
                    </div>


                    <div class="box">
                        <p style="font-size: 16px;">
                            Events:
                        </p>
                        <p style="font-size: 16px;">October 15th - Company Tour - Max Cap. 30</p>
                        <p style="font-size: 14px;">
                            A meet and greet with some of our Adobe System's members along with a company tour of our studio and and labs.
                        </p>
                    </div>
                    <div class="gallery">

                        <div class="flextime">
                            <img src="../asset/what-graphic.jpg" class="">

                            <img src="../asset/flying-girls.jpg">

                        </div>
                    </div>

                    <div class="gallery">


                        <div class="flextime">
                            <img src="../asset/busy-day.jpg" class="">



                            <img src="../asset/cheater.jpg">

                        </div>

                    </div>


                </div>
    </main>






</body>
