

  <body>

      <div class="image">
        <div class="title">
          <h2> PASSIONFRUIT LOOPS </h2>
        </div>
        <div class="main-text">
          <h3>
            CAN'T FIND A CAREER
          </h3>
          <h3>
            YOU'RE PASSIONATE ABOUT? 
          </h3>
          <h3>
            START HERE
          </h3>
        </div>

        <div class="row justify-content-md-center text-center bot">
          <div class="col-2">
            <a href="/login" class="intro-buttons 1"> Sign Up </a>
          </div>
          <div class="col-2">
            <a href="/login"  class="intro-buttons 2"> Login </a>
          </div>
        </div>

      </div>


  </body>

