doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="javascripts/jquery.js")
    script(src="javascripts/popper.js")
    script(src="javascripts/bootstrap.js")
    script(src="javascripts/jquery.easing.js")
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  body
    block content