

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="" id="sidebar">
                <div class="list-group panel">
                    <a href="./dashboard" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Home</span> </a>
                    <a href="./my-companies" class="list-group-item collapsed" data-parent="#sidebar"><span class="hidden-sm-down">My Companies</span></a>
                    <a href="./career" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Careers</span> </a>
                    <a href="./company-all" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">All Company</span> </a>
                    <a href="./company" class="list-group-item collapsed" aria-expanded="false"><i class="fa fa-company"></i> <span class="hidden-sm-down">Company</span> </a>
                </div>
            </div>

        </div>
    </div>
    <main class="">
        <hr>
        <div class="page-header">
            <h1>Favorited Companies</h1>
        </div>
        <p class="lead">Awesome</p>

        <div class="wrapper">
            <div class="input-group text-center">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button">Go!</button>
                                </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="margin-top: 2rem; width: 15rem;">
                    <img class="card-img-top" src="./asset/adobe.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>



    </main>
    </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>



</body>

